* {
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: x-large;
    
}

.wrapper {
    width: 99%;
	margin: 0 auto;
}

header { 
    height: 240px; 
    width: 99%;
}

.headerText{
    line-height: 140px;
    height: 140px;
    width: 100%;   
    background-color: #8397f0; 
}

nav { 
    line-height: 90px;
    height: 90px;
    width: 100%; 
    background-color: #8397f0; 
}

.content{
    width: 99%;
    height: 550px;
}

aside { 
    width: 31%; 
    background-color: #8397f0; 
    float: left; 
    height: 550px;  
    padding-top: 250px;
}

section	{ 
    width: 68%;
    background-color: #8397f0; 
    float: right; 
    height: 550px; 
    padding: 50px;   
}

article { 
    height: 420px;
    background-color: #5f79ec; 
    padding: 30px;
    margin-top: 30px;
}


details { 
    height: 320px; 
    background-color: #2f45a5; 
    margin-top: 20px;
    padding: 40px;
}

footer { 
    height: 120px; 
    background-color: #8397f0; 
    float: left; 
    padding: 50px; 
    width: 99%;
}